---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import CatalogPreview from '../components/CatalogPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const works = (await getCollection('catalog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Catalog | Sameh Mabrouk"
	description="Learn about Sameh Mabrouk's most recent works and painting series"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Catalog"
				tagline="See my most recent works and painting series."
				align="start"
			/>
			<Grid variant="offset">
				{
					works.map((catalog) => (
						<li>
							<CatalogPreview collection_of_work={catalog} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
